<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Flairdocs Suite" parallel="classes" thread-count="4">
    <test name="All Tests">
        <classes>
            <class name="testcases.Admin"/>
            <class name="testcases.CompleteLoginTest"/>
            <class name="testcases.CreateNewFile"/>
            <class name="testcases.ExpandPanel"/>
            <class name="testcases.ExpandAllPanelsInAllTabsTest"/>
            <class name="testcases.CompleteLoginAndPanelTest"/>
        </classes>
    </test>
</suite>